html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background-color 0.6s ease; /* Adjust the duration and easing as needed */
    background-color: #dd2f3ed7;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 7vh); /* Adjusted height for mobile */
    padding: 0; /* Adjusted padding for mobile */
}

.square-container {
    width: 90%;
    max-width: 700px;
    z-index: 99;
}

.clock-container {
    padding: 20px;
    background: rgba(0, 0, 0, 0.42);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow for better visibility */
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #999;
    transition: color 0.3s ease;
}

.tab.active {
    color: #fff;
}

.content {
    text-align: center;
}

p {
    font-size: 18px;
    color: #fff;
}

