html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background-color 0.6s ease; /* Adjust the duration and easing as needed */
    background-color: #dd2f3ed7;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7.9vh);
    /* Subtract the height of the navbar (5vh) */
    margin: 0;
    padding: 0;
    /* rest of your styles */
}

.clock-container {
    width: 450px;
    height: 250px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 4px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.tabs {
    display: flex;
    justify-content: center;
}

.tab {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #999;
    /* Change tab text color to a lighter shade */
    transition: color 0.3s ease;
}

.tab.active {
    color: #fff;
    /* Change active tab text color to white */
}

.content {
    text-align: center;
}

p {
    font-size: 18px;
    color: #fff;
    /* Change paragraph text color to white */
}