.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    /* Change background color to dark */
    border-bottom: 1px solid #222;
    /* Change border color to a darker shade */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    /* Change icon color to white */
}

.navbar-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    /* Change title color to white */
}