.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 7vh;
    padding: 0;
    margin: 0;
}

.navbar-left {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 40px;
}

.navbar-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #fff;
    /* Change icon color to white */
}

.navbar-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    /* Change title color to white */
}