.timer {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.timer {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: #fff;
    /* Change the timer text color to white */
}

.unpressed {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    font-size: 22px;
    height: 55px;
    font-weight: bold;
    width: 200px;
    background-color: #333;
    /* Change button background color to dark */
    color: #fff;
    /* Change button text color to white */
    transition: color 0.5s ease-in-out 0s;
    box-shadow: none;
    box-shadow: #222 0px 6px 0px;
    /* Remove the box shadow for the pressed button */
}

.pressed {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    font-size: 22px;
    height: 55px;
    font-weight: bold;
    width: 200px;
    background-color: #333;
    /* Change button background color to dark */
    color: #fff;
    /* Change button text color to white */
    transform: translateY(6px);
    box-shadow: none;
    /* Remove the box shadow for the pressed button */
    transition: color 0.5s ease-in-out 0s;
}